ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: monospace;
}

.code-area {
    font-family: monospace;
    font-size: 16px;
    padding: 24px;
    resize: none;
}

#code-container {
    height: 100%;
    width: 700px;
    border-right: 1px solid #ccc;
    float: left;
}

#code {
    height: 100%;
    width: 100%;
    border: none;
}

#fact-info {
    background: #eee;
    line-height: 24px;
    padding: 6px 24px;
    border-bottom: 1px solid #ccc;
}

#fact-drawer {
    background: white;
    width: 200px;
    height: 100%;
    z-index: 2;
    float: left;
    border-right: 1px solid #ccc;
}

#code:focus {
    outline: none;
}

#command-bar {
    border-top: 1px solid #ccc;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: white;
    display: none;
}
    
.command-input {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 3px #CCCCCC;
    color: #333333;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
    padding: 6px;
    width: 90%;
}

#execute-button {
    margin-top: 12px;
    margin-left: 48px;
}

#fact-list {
    padding: 24px;
    font-family: monospace;
    font-size: 16px;
}

.fact {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 6px;
    margin-bottom: 9px;
}

.fact.selected {
    border: 1px solid #333;
}

.fact-type {
    font-weight: bold;
}

.fact-type.fn {
    color: orange;
}

.fact-type.main_block {
    color: green;
}

.colon {
    font-size: 26px;
    font-weight: bold;
    font-family: monospace;
    margin: 0 12px;
}

#output {
    display: none;
    background: black;
    border: none;
    color: white;
    height: 100%;
    width: 400px;
    float: left;
}

.actual-fact-info {
    font-size: 16px;
    font-family: monospace;
}

.param-input {
    border: none;
    font-size: 16px;
    font-family: monospace;
    width: 16px;
}

.CodeMirror-lines {
    padding: 18px 24px;
    line-height: 24px;
}

.see-more {
    text-decoration: none;
    border: 1px solid #ccc;
    background: white;
    padding: 3px;
}

.arrow_box {
    position: relative;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #eee;
    border-width: 10px;
    left: 50%;
    margin-left: -325px;
}
.arrow_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 11px;
    left: 50%;
    margin-left: -326px;
}

.fact-info-label {
    font-weight: bold;
}

.fact-info-input {
    border: 1px solid #ccc;
    padding: 3px;
    font-family: monospace;
}

.more-fact-info {
    margin-top: 9px;
    display: none;
}
