<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/codemirror.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/elegant.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/util/simple-hint.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <script src="{{ url_for('static', filename='js/mousetrap.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/underscore.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/backbone.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/codemirror.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/util/simple-hint.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/util/ballet-hint.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/mode/smalltalk.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/autogrow.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div id="fact-drawer">
            <ul id="fact-list">
            </ul>
        </div>
        <div id="code-container">
            <div id="fact-info" class="arrow_box">
            </div>
            <textarea class="code-area" id="code"></textarea>
        </div>
        <textarea class="code-area" id="output"></textarea>
        <div id="command-bar">
            <span class="colon">:</span> <input class="command-input" />
        </div>
    </body>

    <script type="text/html" id="fact-list-tmpl">
        <span class="fact-type <%= fact_type %>">
            <% if(fact_type == "main_block") { %>
                m
            <% } else if(fact_type == "fn") { %>
                fn
            <% } %>
        </span>
        <%= name %>
    </script>

    <script type="text/html" id="main-block-fact-info-tmpl">
        <span class="fact-type main_block">m</span>
        <%= name %>
    </script>

    <script type="text/html" id="fn-fact-info-tmpl">
        <span class="fact-type fn">fn</span>
        <%= name %>
        <a class="see-more" href="#">...</a>
        <div class="more-fact-info">
            <table>
                <tr>
                    <td><label class="fact-info-label">takes:</label></td>
                    <td><input class="fact-info-input escapable" name="takes" value="<%= metadata.takes %>" /></li></td>
                </tr>
                <tr>
                    <td><label class="fact-info-label">returns:</label></td>
                    <td><input class="fact-info-input escapable" name="returns" value="<%= metadata.returns %>"/></tr></td>
                </tr>
            <table>
        </div>
    </script>

    <div id="selector">
        <input class="selector-text" />
    </div>
</html>

