<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <script src="{{ url_for('static', filename='js/mousetrap.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/underscore.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/backbone.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div id="fact-drawer">
            <ul id="fact-list">
            </ul>
        <a href="#" id="new-fn-link">+ fn</a>
        </div>
        <textarea id="code"></textarea>
        <div id="action-bar">
            <div id="command-bar">
                <input class="command-input" />
            </div>
            <div id="action-buttons">
                <a id="execute-button" class="tsc_awb_large tsc_flat" href="#">Execute</a>
            </div>
        </div>
    </body>

    <script type="text/html" id="fact-list-tmpl">
        <span class="fact-type <%= fact_type %>">
            <% if(fact_type == "main_block") { %>
                m
            <% } else if(fact_type == "fn") { %>
                fn
            <% } %>
        </span>
        <%= name %>
    </script>
</html>

